@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}

@theme {
  --color-primary: #2563eb;
  --color-secondary: #ea580c;
}
